.mohammod{
    background-color:red;
    text-align: center;
    color: aliceblue;
    height: 100px;
    border: 5px solid black;
    line-height:100px;
}

.mm{

    background-color: blue;
}


h1{

    background-color: blueviolet;
}